USE [master]
GO
/****** Object:  Database [SaigonRideDB]    Script Date: 5/7/2026 10:22:17 PM ******/
CREATE DATABASE [SaigonRideDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SaigonRideDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SaigonRideDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SaigonRideDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SaigonRideDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SaigonRideDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SaigonRideDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 5/7/2026 10:22:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 5/7/2026 10:22:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[AdminId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_dbo.Admins] PRIMARY KEY CLUSTERED 
(
	[AdminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupRentals]    Script Date: 5/7/2026 10:22:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupRentals](
	[GroupRentalId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[StartStationId] [int] NOT NULL,
	[EndStationId] [int] NULL,
	[Quantity] [int] NOT NULL,
	[VehicleCategory] [nvarchar](50) NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.GroupRentals] PRIMARY KEY CLUSTERED 
(
	[GroupRentalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RentalTransactions]    Script Date: 5/7/2026 10:22:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RentalTransactions](
	[TransactionId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[VehicleId] [int] NOT NULL,
	[StartStationId] [int] NOT NULL,
	[EndStationId] [int] NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NULL,
	[CalculatedFare] [decimal](18, 2) NULL,
	[AppliedDiscount] [decimal](18, 2) NULL,
	[TotalAmount] [decimal](18, 2) NULL,
	[GroupRentalId] [int] NULL,
 CONSTRAINT [PK_dbo.RentalTransactions] PRIMARY KEY CLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stations]    Script Date: 5/7/2026 10:22:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stations](
	[StationId] [int] IDENTITY(1,1) NOT NULL,
	[LocationName] [nvarchar](200) NOT NULL,
	[CapacityLimit] [int] NOT NULL,
	[CurrentInventoryCount] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Stations] PRIMARY KEY CLUSTERED 
(
	[StationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupportRequests]    Script Date: 5/7/2026 10:22:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupportRequests](
	[RequestId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[Subject] [nvarchar](200) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[Status] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.SupportRequests] PRIMARY KEY CLUSTERED 
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/7/2026 10:22:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](max) NULL,
	[Balance] [decimal](18, 2) NOT NULL,
	[CCCD] [nvarchar](20) NULL,
	[Passport] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicles]    Script Date: 5/7/2026 10:22:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicles](
	[VehicleId] [int] IDENTITY(1,1) NOT NULL,
	[Category] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[CurrentStationId] [int] NULL,
	[ReservedUntil] [datetime] NULL,
	[ReservedByUserId] [int] NULL,
 CONSTRAINT [PK_dbo.Vehicles] PRIMARY KEY CLUSTERED 
(
	[VehicleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([AdminId], [Username], [Password], [FullName]) VALUES (1, N'admin', N'123456', N'Quản trị viên')
SET IDENTITY_INSERT [dbo].[Admins] OFF
GO
SET IDENTITY_INSERT [dbo].[GroupRentals] ON 

INSERT [dbo].[GroupRentals] ([GroupRentalId], [UserId], [StartStationId], [EndStationId], [Quantity], [VehicleCategory], [StartTime], [EndTime], [TotalAmount], [Status]) VALUES (6, 1, 1, 1, 10, N'StandardBike', CAST(N'2026-05-05T15:53:46.883' AS DateTime), CAST(N'2026-05-05T21:52:53.947' AS DateTime), CAST(100000.00 AS Decimal(18, 2)), N'Completed')
INSERT [dbo].[GroupRentals] ([GroupRentalId], [UserId], [StartStationId], [EndStationId], [Quantity], [VehicleCategory], [StartTime], [EndTime], [TotalAmount], [Status]) VALUES (7, 1, 1, 1, 10, N'StandardBike', CAST(N'2026-05-05T15:54:32.437' AS DateTime), CAST(N'2026-05-05T21:53:02.870' AS DateTime), CAST(100000.00 AS Decimal(18, 2)), N'Completed')
INSERT [dbo].[GroupRentals] ([GroupRentalId], [UserId], [StartStationId], [EndStationId], [Quantity], [VehicleCategory], [StartTime], [EndTime], [TotalAmount], [Status]) VALUES (8, 1, 1, 12, 10, N'StandardBike', CAST(N'2026-05-05T21:23:08.020' AS DateTime), CAST(N'2026-05-05T21:53:10.233' AS DateTime), CAST(10000.00 AS Decimal(18, 2)), N'Completed')
SET IDENTITY_INSERT [dbo].[GroupRentals] OFF
GO
SET IDENTITY_INSERT [dbo].[RentalTransactions] ON 

INSERT [dbo].[RentalTransactions] ([TransactionId], [UserId], [VehicleId], [StartStationId], [EndStationId], [StartTime], [EndTime], [CalculatedFare], [AppliedDiscount], [TotalAmount], [GroupRentalId]) VALUES (42, 1, 17, 1, 2, CAST(N'2026-05-05T21:17:31.607' AS DateTime), CAST(N'2026-05-05T21:18:31.607' AS DateTime), CAST(1500.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(1500.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[RentalTransactions] ([TransactionId], [UserId], [VehicleId], [StartStationId], [EndStationId], [StartTime], [EndTime], [CalculatedFare], [AppliedDiscount], [TotalAmount], [GroupRentalId]) VALUES (43, 1, 48, 1, 2, CAST(N'2026-05-05T21:23:08.000' AS DateTime), CAST(N'2026-05-05T22:23:00.000' AS DateTime), CAST(30000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(30000.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[RentalTransactions] ([TransactionId], [UserId], [VehicleId], [StartStationId], [EndStationId], [StartTime], [EndTime], [CalculatedFare], [AppliedDiscount], [TotalAmount], [GroupRentalId]) VALUES (51, 1, 56, 1, 12, CAST(N'2026-05-05T21:23:08.000' AS DateTime), CAST(N'2026-05-05T22:23:00.000' AS DateTime), CAST(30000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(30000.00 AS Decimal(18, 2)), NULL)
SET IDENTITY_INSERT [dbo].[RentalTransactions] OFF
GO
SET IDENTITY_INSERT [dbo].[Stations] ON 

INSERT [dbo].[Stations] ([StationId], [LocationName], [CapacityLimit], [CurrentInventoryCount]) VALUES (1, N'Trạm Metro Bến Thành (Quận 1)', 50, -3)
INSERT [dbo].[Stations] ([StationId], [LocationName], [CapacityLimit], [CurrentInventoryCount]) VALUES (2, N'Trạm Ký túc xá TDTU (Quận 7)', 100, 62)
INSERT [dbo].[Stations] ([StationId], [LocationName], [CapacityLimit], [CurrentInventoryCount]) VALUES (3, N'Trạm Vincom Thảo Điền (TP. Thủ Đức)', 30, 18)
SET IDENTITY_INSERT [dbo].[Stations] OFF
GO
SET IDENTITY_INSERT [dbo].[SupportRequests] ON 

INSERT [dbo].[SupportRequests] ([RequestId], [UserId], [Subject], [Content], [CreatedAt], [Status]) VALUES (1, 1, N'#28', N'ứng dụng tuyệt vời ', CAST(N'2026-05-04T23:01:31.237' AS DateTime), N'Resolved')
INSERT [dbo].[SupportRequests] ([RequestId], [UserId], [Subject], [Content], [CreatedAt], [Status]) VALUES (2, 1, N'#18', N'admin ', CAST(N'2026-05-06T07:15:46.943' AS DateTime), N'Resolved')
SET IDENTITY_INSERT [dbo].[SupportRequests] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Username], [Password], [FullName], [Phone], [Email], [Balance], [CCCD], [Passport]) VALUES (1, N'0528911786', N'123', N'Nguyễn Đức Hiệu', N'0528911786', N'Huypham16082006@gmail.com', CAST(228437.50 AS Decimal(18, 2)), N'079090123456', NULL)
INSERT [dbo].[Users] ([UserId], [Username], [Password], [FullName], [Phone], [Email], [Balance], [CCCD], [Passport]) VALUES (2, N'0905045873', N'123', N'Phạm Thanh Trúc ', N'0905045873', NULL, CAST(0.00 AS Decimal(18, 2)), N'123456789', NULL)
INSERT [dbo].[Users] ([UserId], [Username], [Password], [FullName], [Phone], [Email], [Balance], [CCCD], [Passport]) VALUES (3, N'123456789', N'123', N'Nguyễn Đức Hiệu ', N'123456789', NULL, CAST(0.00 AS Decimal(18, 2)), N'123', NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Vehicles] ON 

INSERT [dbo].[Vehicles] ([VehicleId], [Category], [Status], [CurrentStationId], [ReservedUntil], [ReservedByUserId]) VALUES (17, 1, 0, 2, CAST(N'2026-05-06T07:36:30.053' AS DateTime), 1)
INSERT [dbo].[Vehicles] ([VehicleId], [Category], [Status], [CurrentStationId], [ReservedUntil], [ReservedByUserId]) VALUES (18, 0, 0, 2, NULL, NULL)
INSERT [dbo].[Vehicles] ([VehicleId], [Category], [Status], [CurrentStationId], [ReservedUntil], [ReservedByUserId]) VALUES (19, 2, 0, 3, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Vehicles] OFF
GO
/****** Object:  Index [IX_EndStationId]    Script Date: 5/7/2026 10:22:18 PM ******/
CREATE NONCLUSTERED INDEX [IX_EndStationId] ON [dbo].[GroupRentals]
(
	[EndStationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StartStationId]    Script Date: 5/7/2026 10:22:18 PM ******/
CREATE NONCLUSTERED INDEX [IX_StartStationId] ON [dbo].[GroupRentals]
(
	[StartStationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 5/7/2026 10:22:18 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[GroupRentals]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 5/7/2026 10:22:18 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[RentalTransactions]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VehicleId]    Script Date: 5/7/2026 10:22:18 PM ******/
CREATE NONCLUSTERED INDEX [IX_VehicleId] ON [dbo].[RentalTransactions]
(
	[VehicleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 5/7/2026 10:22:18 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[SupportRequests]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CurrentStationId]    Script Date: 5/7/2026 10:22:18 PM ******/
CREATE NONCLUSTERED INDEX [IX_CurrentStationId] ON [dbo].[Vehicles]
(
	[CurrentStationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GroupRentals]  WITH CHECK ADD  CONSTRAINT [FK_dbo.GroupRentals_dbo.Stations_EndStationId] FOREIGN KEY([EndStationId])
REFERENCES [dbo].[Stations] ([StationId])
GO
ALTER TABLE [dbo].[GroupRentals] CHECK CONSTRAINT [FK_dbo.GroupRentals_dbo.Stations_EndStationId]
GO
ALTER TABLE [dbo].[GroupRentals]  WITH CHECK ADD  CONSTRAINT [FK_dbo.GroupRentals_dbo.Stations_StartStationId] FOREIGN KEY([StartStationId])
REFERENCES [dbo].[Stations] ([StationId])
GO
ALTER TABLE [dbo].[GroupRentals] CHECK CONSTRAINT [FK_dbo.GroupRentals_dbo.Stations_StartStationId]
GO
ALTER TABLE [dbo].[GroupRentals]  WITH CHECK ADD  CONSTRAINT [FK_dbo.GroupRentals_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GroupRentals] CHECK CONSTRAINT [FK_dbo.GroupRentals_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[RentalTransactions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RentalTransactions_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RentalTransactions] CHECK CONSTRAINT [FK_dbo.RentalTransactions_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[RentalTransactions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RentalTransactions_dbo.Vehicles_VehicleId] FOREIGN KEY([VehicleId])
REFERENCES [dbo].[Vehicles] ([VehicleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RentalTransactions] CHECK CONSTRAINT [FK_dbo.RentalTransactions_dbo.Vehicles_VehicleId]
GO
ALTER TABLE [dbo].[SupportRequests]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SupportRequests_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[SupportRequests] CHECK CONSTRAINT [FK_dbo.SupportRequests_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[Vehicles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Vehicles_dbo.Stations_CurrentStationId] FOREIGN KEY([CurrentStationId])
REFERENCES [dbo].[Stations] ([StationId])
GO
ALTER TABLE [dbo].[Vehicles] CHECK CONSTRAINT [FK_dbo.Vehicles_dbo.Stations_CurrentStationId]
GO
USE [master]
GO
